$color-primary: #003a6a;
$color-secondary: #ffcc00;
$color-grey-light1: #d6d6d6;
$color-grey-light2: #e4e4e4;
$color-grey-light3: #fcfcfc;

$color-grey-dark1: #828282;
$color-grey-dark2: #5f5f5f;
$color-grey-dark3: #525252;

$bp-mobile: 64.29rem;
$bp-mobile-small: 35.71rem;

$drop-shadow: drop-shadow(0px 5px 1px #000);
